html{
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    margin-top: 20px;
    width: 50vw;
    height: 50vh;
    display: inline-block;
}
nav ul{
    display: flex;
    list-style: none;
    background-color:rgb(110, 213, 209) ;
    width: 10vw;
    padding-inline-start: 10px;
    justify-content: center;
    padding: 10px;
    border: 2px black solid;
    transition: all 0.5s;
}
nav ul li a{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-decoration: none;
    
}
nav ul:hover{
    border-radius: 10px;
    background-color: aquamarine;
}
header{
    background-color: aquamarine;
    border: 3px solid black;
}
header h1{
    color: black;
    font-size: 25px;
}
main h2{
    font-size: 20px;
    text-align: start;
}
main p{
    background-color: aqua;
    box-shadow: 2px 2px 2px black;
    border: 2px solid green;
    border-radius: 10px;
    
}
figure a img{
    border: 5px solid crimson;
    border-radius: 30px;
}